*{
  box-sizing: border-box;
}
 body, html {
  /* width: 1366px;
  height: 768px; */

}


#overlay1{

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
color: deeppink;
display: none;
opacity: 0.85;

}
#close {
  position: absolute;
  top: 10px;
  right: 10px;
}


#wallet{
  /* width:10%; */
  height: 10%;
   padding: 1%;
  border:5px solid lightblue;
  border-radius:5%;
   background-color:turquoise;
  /* font-size:2em; */
  display: block;
  /* margin-left: auto; */
  /* margin-right:50%; */
  width: 50%;
  float: left;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size:cover; */





}
#pallete{
  /* width:10%; */
  /* height: 10%; */
  padding:1%;
  border:5px solid lightblue;
  border-radius:5%;
   background-color:turquoise;
  /* font-size:2em; */
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size:cover; */


  }

#water{

  height: 50%;
  /* padding:1%; */
   border:5px solid lightblue;
  border-radius:5%;
   background-color:turquoise;

  /* position: relative; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
 background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

  }




footer{
  position: fixed;
  bottom:0;
  left:0;
}

 @media only screen and (min-width: 769px) {
   body{
     background-color: #183059;
 }
}
