.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

p{
  font-family: 'Libre Barcode 128 Text', cursive;
  text-align: center;
  color: #B6B5CD;
}

footer{
  /* position: fixed; */
}
