*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{

  font-size: 100%;
  /* overflow: hidden; */
  height: 100%;
   background: #F7ACA9;
}

div{

  /* display: block;
  width: 100%;
  height: 100%;
    padding-top: 3em;
   align-items: center;
  text-align: center;
 justify-content: center;
  font-size: 7em; */
}
/* a{
margin: 0 auto;
text-decoration: none;
color: pink;
} */
/* .box{
  max-width:1000px;
  height: auto;
  position: relative;
  margin: 100px auto;
  padding: 30px;
  border: 2px solid lightblue;
  color: white;

  font-size: 20px;
  font-family: 'Merriweather', serif;
  margin-top: 25%;
} */

footer{
bottom: 0;
position: fixed;
font-size: 3em;
width:100%;
left:0;
background-color: lightblue;
padding: 2%;
color: white;
}
span{
  font-family: 'Oswald', sans-serif;
  cursor: pointer;


}
span:hover{
  color:lightblue;


}
a{
  color: white;
}
button{
  position: fixed;
  right: 0;
  bottom:0;
  background-color: lightblue;
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
}
.start{
  left:0;
  font-family: 'Pacifico', cursive;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 20px;
  padding: 10px;
  margin-top: 30%;
}
.question{
  border: 2px solid lightblue;
  color: white;
  font-size: 3vh;
  text-align: center;
  font-family: 'Merriweather', serif;
    line-height: 1.7;
}
