*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
 body{
font-family: 'Merriweather', serif;
  font-size: 100%;
   overflow: hidden;
  height: 100%;
   background: #F7ACA9;
}

div{

  /* display: block;
  width: 100%;
  height: 100%;
    padding-top: 3em;
   align-items: center;
  text-align: center;
 justify-content: center;
  font-size: 7em; */
}
/* a{
margin: 0 auto;
text-decoration: none;
color: pink;
} */



.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
grid-column-gap: 30px;
  padding: 10px;
  margin-top: 37%;
}
.question{
  border: 2px solid lightblue;
  color: white;
  font-size: 3.0vh;
  text-align: center;
  /* font-size: 20px; */

}

footer{
bottom: 0;
position: fixed;
font-size: 3em;
width:100%;
left:0;
background-color: lightblue;
padding: 1%;
color: white;
}
span{
  font-family: 'Oswald', sans-serif;
  cursor: pointer;


}
span:hover{
  color:lightblue;


}
a{
  color: white;
  text-decoration: none;
}
 button{
  position: fixed;
  right: 0;
  bottom:0;
  background-color: lightblue;
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
  border-color: lightblue;
}
.hint{
  right:0;
  bottom: 0;
}
.start{
  left:0;
  bottom: 0;
  font-family: 'Pacifico', cursive;
}
