*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Pacifico', cursive;
  font-size: 100%;
  overflow: hidden;
  height: 100%;
   background: #F7ACA9;
}

div{

  /* display: block;
  width: 100%;
  height: 100%;
    padding-top: 3em;
   align-items: center;
  text-align: center;
 justify-content: center;
  font-size: 7em; */
}
/* a{
margin: 0 auto;
text-decoration: none;
color: pink;
} */
.box{
  max-width:1000px;
  height: auto;
  position: relative;
  margin: 100px auto;
  padding: 30px;
  border: 2px solid lightblue;
  color: white;
  font-size: 25px;
  margin-top: 32%;
}
p{

}
footer{
bottom: 0;
position: fixed;
font-size: 3em;
width:100%;
left:0;
background-color: lightblue;
padding: 2%;
color: white;
}
