*{
  /* margin:0;
  padding: 0; */
  box-sizing: border-box;
}
body{
  font-family: 'Pacifico', cursive;
  font-size: 100%;
  /* overflow: hidden; */
  height: 100%;
    background:  radial-gradient(#F7ACA9 20%, #F25978); 
}

div{

  display: block;
  width: 100%;
  height: 100%;
    padding-top: 3em;
    align-items: center;
  text-align: center;
 justify-content: center;
  font-size: 7em;
  /* margin: 0 auto; */

}
a{
  text-decoration: none;
  color: pink;
}
footer{
  bottom: 0;
  left: 0;

}
